{# templates/lucky.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="content">
        <h1>Report</h1>
        <div class="col-container">
        <div class="left-div row-container">
        <span id="1"><h4>Kmom01</h4>
        <p>Förkunskaper inför denna kurs gällande objektorienterad programmering består enbart av Python-kursen som nyss gick. Jag har sedan tidigare känt till konceptet men aldrig provat på det förut.</p>
        <p>Jag har i ärlighetens namn inte hunnit fördjupa mig i att analysera PHPs modell för klasser och objekt, jag försöker bara hinna med 3-veckorsinlämningen. Av det jag sett och kan jämföra med OOP-kursen så ser det väldigt lika ut och läste någonstans att det nu faktiskt spelare roll om attributer är privata eller ej.</p>
        <p>Min initiala uppfattning är att det var väldigt rörigt att få upp en sida - rörigare än FLASK för Python faktiskt. När jag kikar på alla filer som genereras och ska försöka begripa vad de är till för så känner jag mig rätt dum. Jag vill gärna förstå vad allt är till för och hur det hänger ihop, jag får nog bara lita på att det fungerar som det ska.</p>
        <p>Det är alldeles för tidigt för mig att reflektera över artikeln 'PHP The Righ Way'. Det blir däremot till att kika på under kommande veckor.</p>
        <p>TIL är väl komplexiteten bakom att komma igång att göra en hemsida med ett ramverk. Jag förstår helt klart att det finns fördelar att använda det, men undrar allt om det är värt besväret. Det beror säkert på vilket typ av hemsida och hur stor.</p>
    </span>
        <span id="2"><h4>Kmom02</h4>none<br><br><br><br><br><br><br><br><br><br></span>
        <span id="3"><h4>Kmom03</h4>none<br><br><br><br><br><br><br><br><br><br></span>
        <span id="4"><h4>Kmom04</h4>none<br><br><br><br><br><br><br><br><br><br></span>
        <span id="5"><h4>Kmom05</h4>none<br><br><br><br><br><br><br><br><br><br></span>
        <span id="6"><h4>Kmom06</h4>none<br><br><br><br><br><br><br><br><br><br></span>
        <span id="10"><h4>Kmom10</h4>none<br><br><br><br><br><br><br><br><br><br></span>

        </div>
        <div class="right-div">
            <a class="nav-txt" href="{{ path('report') }}#1"><div class="rep-button">
                Kmom01</div></a>
            <a class="nav-txt" href="{{ path('report') }}#2"><div class="rep-button">
                Kmom02</div></a>
            <a class="nav-txt" href="{{ path('report') }}#3"><div class="rep-button">
                Kmom03</div></a>
            <a class="nav-txt" href="{{ path('report') }}#4"><div class="rep-button">
                Kmom04</div></a>
            <a class="nav-txt" href="{{ path('report') }}#5"><div class="rep-button">
                Kmom05</div></a>
            <a class="nav-txt" href="{{ path('report') }}#6"><div class="rep-button">
                Kmom06</div></a>
            <a class="nav-txt" href="{{ path('report') }}#10"><div class="rep-button">
                Kmom10</div></a>
            </div>
        </div>
    </div>
{% endblock %}
